<div class="se-pre-con"></div>
<div id="navbar">
    <!--navbar with search form -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <div class="navbar-translate">
                <a href="/"><img id="footer-rumsan" class="navbar-img"
                        src="https://assets.rumsan.com/askbhunte/assets/rumsanmoneylogo-horizontal.png	"
                        height="50px"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto" id="navbarList">
                    <li class="nav-item active">
                        <a class="nav-link" href="/loan">Loan <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/savings">Savings <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/insurance">Insurance <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/resources"></a>
                    </li> -->
                    <li class="dropdown nav-item">
                        <a href="/resources" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            Resources <span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="/resources" class="dropdown-item">
                                <i class="material-icons">lightbulb</i> Explore and Learn
                            </a>
                            <a href="/banks" class="dropdown-item">
                                <i class="material-icons">account_balance</i> Banks
                            </a>
                            <a href="/insurance-companies" class="dropdown-item">
                                <i class="material-icons">verified_user</i> Insurance Companies
                            </a>
                            <a href="/blogs" class="dropdown-item">
                                <i class="material-icons">forum</i> Blogs
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/compare">Compare <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <div class="search-container" id="searchContainer">
                            <input id="searchBox" class="search-box" type="text" name="" placeholder="Search">
                            <a id="searchButton" class="search-button" href="#">
                                <i class="fa fa-search" style="color:#ffffff"></i>
                            </a>
                        </div>
                    </li>


                    <!--
                    <li class="nav-item">
                        <form class="form-inline ml-2">
                            <div class="form-group has-white">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="material-icons category-navigation mr-1"
                                style="background:none;border:none">
                                <i class=" material-icons" style="font-size: 28px;">search</i>
                            </button>
                        </form>
                    </li>-->
                </ul>
            </div>

        </div>

    </nav>
</div>