<!DOCTYPE html>

<head>
  <%- include('_layouts/header') %>
</head>

<body>
  <%- include('_layouts/navbar') %>

  <!--Slide to top button starts-->
  <button id="btnScrollToTop" class="btn btn-primary btn-scroll-to-top">
    <i class="material-icons">arrow_upward</i>
  </button>
  <!--Slide to top button ends-->
  <div class="container">
    <div class="about-us">
      <h1 class="custom-title">ABOUT US</h1>
      <div class="about-us-underline"></div>
      <p class="custom-p">
        Today we have 27 commercial banks that provide about hundreds of products
        and services. We aim to provide you with all the data and information about
        the banks, their offered products and services. We are a Rumsan initiative and
        our objective is to provide you the best banking options according to your
        needs. Besides, we also facilitate direct comparison between different products
        from various banks, search from a wide variety and assortment of accounts
        from multiple banks and get the most recent and important information with all
        the updates. Not only this, we highlight one of our special features- account
        opening and KYC upgradation with the help of our product Chino and assist
        you with applying for the loan by reducing all the hectic, complicated and confounded process. We aim to make
        the banking process efficient and easy for
        both the banks and the customers.
      </p>
    </div>
  </div>
  <div class="our-features-bg">
    <div class="container">
      <div class="our-features">
        <h1 class="custom-title pt-4">OUR FEATURES</h1>
        <div class="our-features-underline"></div>
        <div class="row mt-5 pb-4">
          <div class="col-md-4">
            <i class="fa fa-university"></i>
            <div class="icon-underline"></div>
            <h4 class="mt-4">COMPARE BANK PRODUCTS</h4>
            <p>
              Compare the different
              products between multiple banks and choose the
              best one to fit with your
              needs
            </p>
          </div>
          <div class="col-md-4">
            <i class="fa fa-refresh"></i>
            <div class="icon-underline"></div>
            <h4 class="mt-4">UP-TO DATE INFORMATION</h4>
            <p>
              We update data regularly
              so that you get latest
              data all the time
            </p>
          </div>
          <div class="col-md-4">
            <i class="fa fa-info-circle"></i>
            <div class="icon-underline"></div>
            <h4 class="mt-4">LEARNING RESOURCES</h4>
            <p>
              Visit “Resources” section
              and get informed with
              various information regarding banking and its
              products
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="our-team">
      <h1 class="custom-title">OUR TEAM</h1>
      <div class="our-team-underline"></div>
      <div class="row our-team-row-1">
        <div class="col-md-4">
          <div class="our-team-card">
            <div class="our-team-image-container">
              <p style="text-align: center;">
                <img src="https://assets.rumsan.com/askbhunte/assets/bibek-kathanepal.jpg" alt="Bibek Khadka">
              </p>
            </div>
            <div class="our-team-text">
              Mr. Bibek Khadka<br>
              Project Lead
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="our-team-card">
            <div class="our-team-image-container">
              <p style="text-align: center;">
                <img src="https://assets.rumsan.com/rumsan-group/raman400400.jpg	" alt="Raman kc">
              </p>
            </div>
            <div class="our-team-text">
              Mr. Raman K.C.<br>
              COO
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="our-team-card">
            <div class="our-team-image-container">
              <p style="text-align: center;">
                <img src="https://assets.rumsan.com/rumsan-group/raktim400400.jpg	" alt="raktim shrestha">
              </p>
            </div>
            <div class="our-team-text">
              Mr. Raktim Shrestha<br>
              CTO
            </div>
          </div>
        </div>
      </div>
      <div class="row our-team-row-2">
        <div class="col-md-6">
          <div class="our-team-card">
            <div class="our-team-image-container">
              <p style="text-align: center;">
                <img src="https://assets.rumsan.com/rumsan-group/santosh-shrestha400400.jpg	" alt="santosh shrestha">
              </p>
            </div>
            <div class="our-team-text">
              Mr. Santosh Shrestha<br>
              Advisor
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="our-team-card">
            <div class="our-team-image-container">
              <p style="text-align: center;">
                <img src="https://assets.rumsan.com/rumsan-group/ruchin-singh400400.jpg	" alt="ruchin singh">
              </p>
            </div>
            <div class="our-team-text">
              Mr. Ruchin Singh<br>
              Advisor
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('_layouts/footer') %>
</body>

</html>