<!DOCTYPE html>
<html lang="en">

<head>
  <title>Error: Page not found</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' href='/css/custom.css' />
  <style>
    body {
      background: #fff;
    }
  </style>
</head>

<body>
  <img src="https://assets.rumsan.com/askbhunte/assets/20945761.png" alt="page not found" style="
    width: 40%;display: block; margin: 0 auto;">
  <div class="d-flex align-items-center justify-content-center">
    <a href="/" class="btn btn-primary mt-15">Back to Home</a>
  </div>
</body>

</html>