<html>

<head>

</head>

<body>
  <figure class=\"media\">
    <oembed url=\"https://www.youtube.com/watch?v=Fg3RxgIR2WI&amp;ab_channel=BipulChettri\"></oembed>
  </figure>
  <h2><strong>WHAT IS HOME LOAN?</strong></h2>
  <p>A home loan is an amount of money that an individual borrows from a bank or money lending company at a certain rate
    of interest to be paid with the EMI every month. The property is taken as a security by the money lending company
    for the<strong>&nbsp;Home Loan.</strong></p>
  <p>• The property can either be commercial or personal.</p>
  <p>• When the borrower cannot pay the dues, the lender will possess all the legal rights to recover the outstanding
    loan amount by the sale of the property in question.</p>
  <figure class=\"image image-style-side\"><img
      src=\"https://askbhunte.s3.amazonaws.com/bhuntemoney/1620797515639-the-surge-postersss.jpg\"></figure>
  <h3><strong>Types of Home Loans:</strong></h3>
  <p>&nbsp;</p>
  <p>• Home Purchase Loan: This is the loan that one takes for purchasing a home.</p>
  <p>• Home Improvement Loan: This loan covers expenditure related to repairs of your home or even renovation.</p>
  <p>• Home Construction Loan: This loan comes in handy when you are building a new house.</p>
  <p>• Land Purchase Loan: Someone wishing to buy a plot of land for constructing his/her own house can avail this loan.
  </p>
  <p>• Home Extension Loan: Suppose you plan to add another room, garage, bathroom, or kitchen to your home. This is the
    loan that you should apply for and this also comes in handy if you are planning to have another floor.</p>
  <p>• Joint Home Loan: These are loans taken by two people or even more. For instance, spouses can apply for joint home
    loans.</p>
  <p>• Home Loan Balance Transfer: You can use this mechanism to switch your outstanding loan amount to a different
    lender with better terms and conditions and lower interest.</p>
  <p>• Top-Up Home Loan: This kind of loan helps you borrow some more money above the outstanding loan amount.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</body>

</html>