<style>
  @font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.otf");
  }

  @font-face {
    font-family: "Gilroy-bold";
    src: url("../fonts/Gilroy-ExtraBold.otf");
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Gilroy-bold;
    font-weight: 700;
    margin: 0px;
  }

  h1,
  th {
    font-family: Gilroy-bold;
  }

  p,
  td,
  tr {
    font-family: Gilroy;
    font-size: 10px;
  }

  #donorcard {
    font-family: Open Sans;
    border: 1px;
    border-color: #ff0000;
    border-style: solid;
    color: red;
    width: 450px;
    height: 250px;
    padding: 10px;
    font-size: 11px;
  }

  @media (max-width: 700px) {
    p {
      font-size: 13px;
      line-height: 1.5384615384615;
    }
  }

  @media (min-width: 700px) {
    .logo-block {
      display: none !important;
      font-size: 20px;
    }

    .logo-block a {
      display: inline-block !important;
    }
  }

  @media (min-width: 700px) {
    .logo-block-desk {
      display: table-cell !important;
    }
  }

  @media (max-width: 700px) {
    .logo-block-link {
      font-size: 13px !important;
    }
  }

  @media (max-width: 700px) {
    .content {
      padding: 0 10px !important;
    }
  }

  @media (max-width: 700px) {
    .footer-help td {
      display: block !important;
      padding-bottom: 15px !important;
      width: 50% !important;
      float: left !important;
    }

    .footer-help td:last-child {
      padding-bottom: 0 !important;
    }
  }

  @media (max-width: 700px) {
    .white-sep {
      padding: 0 10px !important;
    }
  }

  @media (max-width: 700px) {
    .white-sep-secondary {
      padding: 0 10px !important;
    }
  }

  @media (max-width: 700px) {
    .list-block-lg {
      padding-bottom: 25px !important;
    }
  }

  @media (max-width: 700px) {
    .list-block-top-lg {
      padding-top: 20px !important;
    }
  }

  @media (max-width: 700px) {
    .list-block-md {
      padding-bottom: 20px !important;
    }
  }

  @media (max-width: 700px) {
    .list-block-top-md {
      padding-top: 20px !important;
    }
  }

  @media (max-width: 700px) {
    .list-block {
      padding-bottom: 14px !important;
    }
  }

  @media (max-width: 700px) {
    .list-sub-title {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }

  @media (max-width: 700px) {
    .list-text {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }

  @media (max-width: 700px) {
    .list-text-left {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }

  @media (max-width: 700px) {
    .list-title-left {
      font-size: 20px !important;
      line-height: 32px !important;
      text-align: center !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .responsive-padding {
      padding: 0 0 15px 0 !important;
      text-align: center !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .responsive-padding-left {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .table-btn-block-resp {
      margin: auto !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .post-text {
      font-size: 12px !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .table-260 {
      max-width: 100% !important;
    }
  }

  @media only screen and (max-width: 700px) {
    .full-width {
      max-width: 100% !important;
    }
  }
</style>
<table class="align-block" style="background-color:#f4f4f4;border-collapse:collapse;border-spacing:0;width:100%">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;border-spacing:0;padding:0">
        <table align="center" class="main-content"
          style="border-collapse:collapse;border-spacing:0;margin:auto;max-width:700px;width:100%">
          <tbody>
            <tr>
              <td class="content"
                style="background-color:#f4f4f4;border-collapse:collapse;border-spacing:0;padding:0 20px">
                <table bgcolor="#F4F4F4"
                  style="background-color:white;border-collapse:collapse;border-spacing:0;width:100%">
                  <tbody>
                    <tr>
                      <td style="border-collapse:collapse;border-spacing:0;padding:0">
                        <table style="background:#007BB3;border-collapse:collapse;border-spacing:0;width:100%"
                          class="header">
                          <tbody>
                            <tr>
                              <td class="logo-block"
                                style="border-collapse:collapse;border-spacing:0;padding:20px 0 0px;vertical-align:middle">
                                <a href="https://loan.rumsan.com"
                                  style="color:#444;display:inline-block;text-decoration:none" target="_blank">
                                  <img src="https://assets.rumsan.com/askbhunte/assets/rumsan-money-logo.png	"
                                    alt="Rumsan Money logo" width="120" style="color:#444" />
                                </a>
                              </td>
                              <!-- <td
                                style="border-collapse:collapse;border-spacing:0;padding:20px 0 20px;text-align:right;vertical-align:middle"
                                class="logo-block">
                                <a href="https://loan.rumsan.com" class="logo-block-link"
                                  style="color:white;text-align:rigt; padding:1rem; font-size:18px;line-height:1;text-decoration:none!important;vertical-align:middle"
                                  target="_blank">Ask Bhunte</a>
                              </td> -->
                            </tr>
                            <tr>
                              <td
                                style="border-collapse:collapse;border-spacing:0;display:none;max-height:0;padding:20px 0 0px;text-align:left;vertical-align:middle"
                                class="logo-block-desk">
                                <a href="https://loan.rumsan.com"
                                  style="color:#444;display:inline-block;text-decoration:none" target="_blank">
                                  <img src="https://assets.rumsan.com/askbhunte/assets/rumsan-money-logo.png	"
                                    alt="Rumsan Money logo" width="120" style="color:#444" class="CToWUd" />
                                </a>
                              </td>
                              <!-- <td
                                style="border-collapse:collapse;border-spacing:0;display:none;max-height:0;padding:20px 0 20px;text-align:right;vertical-align:middle"
                                class="logo-block-desk">
                                <a href="https://loan.rumsan.com" class="logo-block-link"
                                  style="color:white;padding:1rem;text-align:rigt;font-size:18px;line-height:1;text-decoration:none!important;vertical-align:middle"
                                  target="_blank">Ask Bhunte</a>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="border-line" style="border-collapse:collapse;border-spacing:0;padding:0">
                        <table style="background-color:#ffffff;width:100%; margin-top:1rem;margin-bottom: 1rem;"
                          class="white-bg">
                          <thead>
                            <h3 style="text-align: center;padding: 1rem">Loan
                              Request
                              Report <br /><span style="color:gold">{{product_name}}</span> by <span
                                style="color:gold">{{bank_name}}</span></h3>
                          </thead>
                          <tbody>
                            <tr>
                              <th>Full Name</th>
                              <th>Contact Number</th>
                              <th>Email</th>
                            </tr>
                            <tr>
                              <td align="center">{{full_name}}</td>
                              <td align="center">{{phone}}</td>
                              <td align="center">{{email}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                            <tr>
                              <th>Closest Branch</th>
                              <th>Province</th>
                              <th>District</th>
                            </tr>
                            <tr>
                              <td align="center">{{closest_branch}}</td>
                              <td align="center">{{province}}</td>
                              <td align="center">{{district}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                            <tr>
                              <th>Municipality</th>
                              <th>Street</th>
                              <th>Ward Number</th>
                            </tr>
                            <tr>
                              <td align="center">{{municipality}}</td>
                              <td align="center">{{province}}</td>
                              <td align="center">{{ward}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                            <tr>
                              <th>House Number</th>
                              <th>Citizenship Number</th>
                              <th>Issuing Date</th>
                            </tr>
                            <tr>
                              <td align="center">{{houseno}}</td>
                              <td align="center">{{citizenship_number}}</td>
                              <td align="center">{{issuing_date}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                            <tr>
                              <th>Issuing District</th>
                              <th>DOB in BS</th>
                              <th>DOB in AD</th>
                            </tr>
                            <tr>
                              <td align="center">{{issuing_district}}</td>
                              <td align="center">{{birth_bs}}</td>
                              <td align="center">{{birth_ad}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                            <tr>
                              <th>Spouse Name</th>
                              <th>Father Name</th>
                              <th>Mother Name</th>
                            </tr>
                            <tr>
                              <td align="center">{{spouse}}</td>
                              <td align="center">{{father}}</td>
                              <td align="center">{{mother}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                            <tr>
                              <th>Grand Father Name</th>
                              <th>Son Name</th>
                              <th>Daughter Name</th>
                            </tr>
                            <tr>
                              <td align="center">{{grand_father}}</td>
                              <td align="center">{{son}}</td>
                              <td align="center">{{daughter}}</td>
                            </tr>
                            <tr>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                              <th>&nbsp</th>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="background-color:#f4f4f4;border-collapse:collapse;border-spacing:0;padding:0 20px;padding-bottom:10px"
                class="content">
                <table class="footer" style="background:#007BB3;border-collapse:collapse;border-spacing:0;width:100%">
                  <tbody>
                    <tr>
                      <td class="footer-wrapper footer-border-line"
                        style="border-collapse:collapse;border-spacing:0;padding:0px 30px 30px">
                        <table style="border-collapse:collapse;border-spacing:0;width:100%">
                          <tbody>
                            <tr>
                              <td class="list-block-lg"
                                style="border-collapse:collapse;border-spacing:0;padding:0;padding-bottom:30px"></td>
                            </tr>
                            <!-- <tr>
                              <td class="list-block-sm"
                                style="border-collapse:collapse;border-spacing:0;padding:0;padding-bottom:10px">
                                <table align="center" class="footer-help"
                                  style="border-collapse:collapse;border-spacing:0;margin:auto;max-width:500px;text-align:center;width:100%">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse:collapse;border-spacing:0;padding:0">
                                        <p class="footer-help-links"
                                          style="color:#444444;font-size:14px;line-height:16px;margin:0;padding:0">
                                          <a href="https://loan.rumsan.com" class="links"
                                            style="color:#fff;text-decoration:none" target="_blank">WHAT WE DO</a>
                                        </p>
                                      </td>
                                      <td style="border-collapse:collapse;border-spacing:0;padding:0">
                                        <p class="footer-help-links"
                                          style="color:#444444;font-size:14px;line-height:16px;margin:0;padding:0">
                                          <a href="https://loan.rumsan.com" class="links"
                                            style="color:#fff;text-decoration:none" target="_blank">HOW IT WORKS</a>
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr> -->
                            <tr>
                              <td class="footer-address list-block"
                                style="border-collapse:collapse;border-spacing:0;color:#999999;font-size:12px;line-height:1.4;padding:0;padding-bottom:20px;text-align:center">
                                <p class="footer-address-text"
                                  style="color:#fff;font-size:12px;line-height:24px;margin:0;padding:0;text-align:center">
                                  © 2020 <a href="https://askbhunte.com" target="_blank"
                                    style="color:white !important; text-decoration:none;">Ask Bhunte</a>.<br />
                                  +977-9861086039 | Kupondole,
                                  Nepal. <br />
                                  Designed by <b><a href="https://rumsan.com" target="_blank"
                                      style="color:White !important; text-decoration: none;"> Rumsan</a></b>
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <td class="footer-social" style="border-collapse:collapse;border-spacing:0;padding:0">
                                <table align="center"
                                  style="border-collapse:collapse;border-spacing:0;margin:auto;width:94px">
                                  <tbody>
                                    <tr>
                                      <td
                                        style="border-collapse:collapse;border-spacing:0;padding:0;padding-right:13px">
                                        <a href="hhttps://www.facebook.com/askbhunte/"
                                          style="color:#444;text-decoration:none" target="_blank">
                                          <img src="http://archive.hamrolifebank.com/perm/img/fb_transparent.png"
                                            alt="facebook" width="40" height="40" style="color:#444" class="CToWUd" />
                                        </a>
                                      </td>
                                      <!-- <td
                                        style="border-collapse:collapse;border-spacing:0;padding:0;padding-right:13px">
                                        <a href="https://www.instagram.com/hamro_lifebank/"
                                          style="color:#444;text-decoration:none" target="_blank">
                                          <img src="http://archive.hamrolifebank.com/perm/img/instagram_transparent.png"
                                            alt="facebook" width="40" height="40" style="color:#444" class="CToWUd" />
                                        </a>
                                      </td> -->
                                      <td style="border-collapse:collapse;border-spacing:0;padding:0">
                                        <a href="https://loan.rumsan.com" style="color:#444;text-decoration:none"
                                          target="_blank">
                                          <img src="http://archive.hamrolifebank.com/perm/img/website_transparent.png"
                                            alt="linkedin" width="40" height="40" style="color:#444" class="CToWUd" />
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- <table style="border-collapse:collapse;border-spacing:0;width:100%">
                  <tbody>
                    <tr>
                      <td style="border-collapse:collapse;border-spacing:0;padding:15px 30px 0;padding-bottom:20px"
                        class="list-block">
                        <p class="footer-unsub-text"
                          style="color:#888888;font-size:12px;line-height:18px;margin:0;padding:0;text-align:center">
                          Ask Bhunte - Smartest kid in the town.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>